body {
  background-image: linear-gradient(to right, #8f460e, #c4773c, #8f460e);
}

.chessboard {
  display: grid;
  grid-template-columns: repeat(9, 11vmin);
  grid-template-rows: repeat(8, 10vmin);
  justify-content: center;
  margin-top: 8vw;
  margin-right: -8vw;

  font-size: 7vmin;
  text-align: center;
}

.chessboard div {
  border: 2px solid black;
}
.chessboard div:nth-child(odd) {
  background-color: rgb(125, 61, 12);
}
.chessboard div:nth-child(even) {
  background-color: rgb(216, 146, 71);
}
.chessboard div:nth-child(9n + 0) {
  background-color: transparent;
  border: none;
}

.white-box:hover {
  transform: scale(1.1);
}

.black-box:hover {
  transform: scale(1.1);
}
