body {
  background-image: linear-gradient(to right, #8f460e, #c4773c, #8f460e);
}

.chessboard {
  border: 2px solid black;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vmin;
  margin: 80px auto;
  width: 90vmin;
  box-shadow: 10px 10px 15px #020202;
  font-size: 4vw;
  text-align: center;
  border: 2px solid black;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 10%;
}

.white-box {
  background-color: rgb(216, 146, 71);
  flex: 1;
  border: 2px solid black;
}
.white-box:hover {
  transform: scale(1.1);
}

.black-box {
  background-image: linear-gradient(to right, #8f460e, #c4773c, #8f460e);
  flex: 1;
  border: 2px solid black;
}
.black-box:hover {
  transform: scale(1.1);
}
